:root {
  --bs-blue: #556ee6;
  --bs-indigo: #564ab1;
  --bs-purple: #6f42c1;
  --bs-red: #f46a6a;
  --bs-orange: #f1734f;
  --bs-yellow: #f1b44c;
  --bs-green: #34c38f;
  --bs-teal: #050505;
  --bs-cyan: #50a5f1;
  --bs-white: #fff;
  --bs-gray: #74788d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #eff2f7;
  --bs-gray-300: #f6f6f6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #74788d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #556ee6;
  --bs-secondary: #74788d;
  --bs-success: #34c38f;
  --bs-info: #50a5f1;
  --bs-warning: #f1b44c;
  --bs-danger: #f46a6a;
  --bs-pink: #e83e8c;
  --bs-light: #eff2f7;
  --bs-dark: #343a40;
  --bs-primary-rgb: 85, 110, 230;
  --bs-secondary-rgb: 116, 120, 141;
  --bs-success-rgb: 52, 195, 143;
  --bs-info-rgb: 80, 165, 241;
  --bs-warning-rgb: 241, 180, 76;
  --bs-danger-rgb: 244, 106, 106;
  --bs-pink-rgb: 232, 62, 140;
  --bs-light-rgb: 239, 242, 247;
  --bs-dark-rgb: 52, 58, 64;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-rgb: 73, 80, 87;
  --bs-font-sans-serif: "Poppins", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: .8125rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #495057;
  --bs-body-bg: #f8f8fb;
}

$bs-blue: #556ee6;
$bs-indigo: #564ab1;
$bs-purple: #6f42c1;
$bs-red: #f46a6a;
$bs-orange: #f1734f;
$bs-yellow: #f1b44c;
$bs-green: #34c38f;
$bs-teal: #050505;
$bs-cyan: #50a5f1;
$bs-white: #fff;
$bs-gray: #74788d;
$bs-gray-dark: #343a40;
$bs-gray-100: #f8f9fa;
$bs-gray-200: #eff2f7;
$bs-gray-300: #f6f6f6;
$bs-gray-400: #ced4da;
$bs-gray-500: #adb5bd;
$bs-gray-600: #74788d;
$bs-gray-700: #495057;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;
$bs-primary: #556ee6;
$bs-secondary: #74788d;
$bs-success: #34c38f;
$bs-info: #50a5f1;
$bs-warning: #f1b44c;
$bs-danger: #f46a6a;
$bs-pink: #e83e8c;
$bs-light: #eff2f7;
$bs-dark: #343a40;
$bs-font-sans-serif: "Poppins",
sans-serif;
$bs-font-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
$bs-body-font-family: var($bs-font-sans-serif);
$bs-body-font-size: .8125rem;
$bs-body-font-weight: 400;
$bs-body-line-height: 1.5;
$bs-body-color: #495057;
$bs-body-bg: #f8f8fb;


.main-content {
  background-color: #f8f8fb;
  margin-left: 250px;
  overflow: hidden;
  padding: 60px 12px 60px;
}

.button {
  text-transform: none !important;

  &.--primary {
    background-color: var(--bs-primary);
    color: white;

    &:hover {
      background-color: $bs-primary;
    }
  }

  &.--success {
    background-color: var(--bs-success);

    &:hover {
      background-color: #2ea77a;
    }
  }

  &.--warning {
    background-color: var(--bs-warning);

    &:hover {
      background-color: #dba446;
    }
  }

  &.--danger {
    background-color: var(--bs-danger);

    &:hover {
      background-color: #db5858;
    }
  }

  &.--info {
    background-color: var(--bs-info);

    &:hover {
      background-color: #3898ec;
    }
  }

}



.bg--primary {
  background-color: var(--bs-primary);
}

.bg--success {
  background-color: var(--bs-success);
}

.bg--danger {
  background-color: var(--bs-danger);
}

.bg--warning {
  background-color: var(--bs-warning);
}


.color--success {
  color: var(--bs-success);
}

.color--danger {
  color: var(--bs-danger);
}

.color--warning {
  color: var(--bs-warning);
}